<div class="form pt-5 pb-5">
  <div class="sorting-btn mt-5">
    <button class="btn btn-primary" (click)="sortData('name')">
      SORTING TABLE
    </button>
    <button mat-fab  (click)="openDialog()" class="my-fab">
      <h2>Add Data</h2>
    </button>
  </div>

  <div class="table-area mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">
            Subject
            <!-- <div [ngClass]="getSortClass('subject')"></div> -->
          </th>
          <th scope="col">
            Name
            <!-- <div [ngClass]="getSortClass('name')"></div> -->
          </th>
          <th scope="col">
            Email
            <!-- <div [ngClass]="getSortClass('email')"></div> -->
          </th>
          <th scope="col">
            Message
            <!-- <div [ngClass]="getSortClass('message')"></div> -->
          </th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let data of dataList | orderBy: sortColumn:sorting;
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ data.subject }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.message }}</td>
          <td>
            <div class="d-flex justify-content-center">
              <mat-icon 
              (click)="deleteMsg(data.name)" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="remove">
              delete
            </mat-icon>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
